In [2]:
import pandas as pd
df = pd.read_csv('D:/Internship Data Analyst Apr 2025/Project/healthcare_dataset.csv')
df

,Patient_ID,Age,Gender,Insurance_Type,Chronic_Disease,Mental_Health_Status,Employment_Status,Education_Level,Transportation_Access,Distance_from_Facility,Area_Type,Booking_Date,Appointment_Date,Appointment_Outcome
0,75763,93.0,Male,Medicare,False,True,Student,Advanced Degree,True,37.785038,Suburban,2023-11-04,2024-08-15,Show
1,84945,52.0,Male,Uninsured,False,False,Employed,College,True,NaN,Rural,2023-10-28,2024-07-11,No-Show
2,88559,8.0,Male,Medicare,True,NaN,NaN,Advanced Degree,True,27.277654,Rural,2023-02-12,2024-10-26,Show
3,72217,5.0,Other,Medicare,False,True,Student,College,True,44.618708,NaN,2023-01-30,2024-01-31,Show
4,44071,76.0,Male,Uninsured,True,False,Employed,Advanced Degree,False,12.568497,Urban,2023-11-27,2024-03-03,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,16333,48.0,Female,NaN,True,True,Student,NaN,True,26.576418,Urban,2023-11-24,2024-03-16,No-Show
49996,11153,5.0,Other,Medicaid,True,True,Student,NaN,False,20.674054,Suburban,2023-11-29,2023-12-05,No-Show
49997,15966,92.0,Female,Uninsured,False,True,Student,NaN,True,34.457721,Suburban,2022-11-20,2024-07-27,NaN
49998,41988,53.0,Male,Medicaid,False,False,Employed,College,False,21.190068,Suburban,2023-05-02,2023-12-19,No-Show
49999,93110,13.0,Female,Private,False,True,Retired,NaN,True,NaN,Suburban,2023-10-12,2024-09-07,No-Show

In [4]:
#Clean columns names
df.columns = df.columns.str.strip().str.lower()
df

,patient_id,age,gender,insurance_type,chronic_disease,mental_health_status,employment_status,education_level,transportation_access,distance_from_facility,area_type,booking_date,appointment_date,appointment_outcome
0,75763,93.0,Male,Medicare,False,True,Student,Advanced Degree,True,37.785038,Suburban,2023-11-04,2024-08-15,Show
1,84945,52.0,Male,Uninsured,False,False,Employed,College,True,NaN,Rural,2023-10-28,2024-07-11,No-Show
2,88559,8.0,Male,Medicare,True,NaN,NaN,Advanced Degree,True,27.277654,Rural,2023-02-12,2024-10-26,Show
3,72217,5.0,Other,Medicare,False,True,Student,College,True,44.618708,NaN,2023-01-30,2024-01-31,Show
4,44071,76.0,Male,Uninsured,True,False,Employed,Advanced Degree,False,12.568497,Urban,2023-11-27,2024-03-03,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,16333,48.0,Female,NaN,True,True,Student,NaN,True,26.576418,Urban,2023-11-24,2024-03-16,No-Show
49996,11153,5.0,Other,Medicaid,True,True,Student,NaN,False,20.674054,Suburban,2023-11-29,2023-12-05,No-Show
49997,15966,92.0,Female,Uninsured,False,True,Student,NaN,True,34.457721,Suburban,2022-11-20,2024-07-27,NaN
49998,41988,53.0,Male,Medicaid,False,False,Employed,College,False,21.190068,Suburban,2023-05-02,2023-12-19,No-Show
49999,93110,13.0,Female,Private,False,True,Retired,NaN,True,NaN,Suburban,2023-10-12,2024-09-07,No-Show

In [11]:
#null values find 
print(df.isnull().sum())

patient_id                    0
age                        5076
gender                     4906
insurance_type             4991
chronic_disease            4967
mental_health_status       5038
employment_status          5063
education_level           16256
transportation_access      4987
distance_from_facility     5017
area_type                  4984
booking_date                  0
appointment_date              0
appointment_outcome        4958
dtype: int64

In [19]:
# drop null value 
df = df.dropna(subset=['age','gender','insurance_type','chronic_disease','mental_health_status',
'employment_status',        
'education_level',           
'transportation_access',    
'distance_from_facility',     
'area_type','appointment_outcome'])
print(df.isnull().sum())

patient_id                0
age                       0
gender                    0
insurance_type            0
chronic_disease           0
mental_health_status      0
employment_status         0
education_level           0
transportation_access     0
distance_from_facility    0
area_type                 0
booking_date              0
appointment_date          0
appointment_outcome       0
dtype: int64

In [13]:
df

,patient_id,age,gender,insurance_type,chronic_disease,mental_health_status,employment_status,education_level,transportation_access,distance_from_facility,area_type,booking_date,appointment_date,appointment_outcome
0,75763,93.0,Male,Medicare,False,True,Student,Advanced Degree,True,37.785038,Suburban,2023-11-04,2024-08-15,Show
1,84945,52.0,Male,Uninsured,False,False,Employed,College,True,NaN,Rural,2023-10-28,2024-07-11,No-Show
2,88559,8.0,Male,Medicare,True,NaN,NaN,Advanced Degree,True,27.277654,Rural,2023-02-12,2024-10-26,Show
3,72217,5.0,Other,Medicare,False,True,Student,College,True,44.618708,NaN,2023-01-30,2024-01-31,Show
4,44071,76.0,Male,Uninsured,True,False,Employed,Advanced Degree,False,12.568497,Urban,2023-11-27,2024-03-03,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,16333,48.0,Female,NaN,True,True,Student,NaN,True,26.576418,Urban,2023-11-24,2024-03-16,No-Show
49996,11153,5.0,Other,Medicaid,True,True,Student,NaN,False,20.674054,Suburban,2023-11-29,2023-12-05,No-Show
49997,15966,92.0,Female,Uninsured,False,True,Student,NaN,True,34.457721,Suburban,2022-11-20,2024-07-27,NaN
49998,41988,53.0,Male,Medicaid,False,False,Employed,College,False,21.190068,Suburban,2023-05-02,2023-12-19,No-Show
49999,93110,13.0,Female,Private,False,True,Retired,NaN,True,NaN,Suburban,2023-10-12,2024-09-07,No-Show

In [22]:
df.drop(['education_level'], axis=1 , inplace= True)
df

,patient_id,age,gender,insurance_type,chronic_disease,mental_health_status,transportation_access,distance_from_facility,area_type,booking_date,appointment_date,appointment_outcome
0,75763,93.0,Male,Medicare,False,True,True,37.785038,Suburban,2023-11-04,2024-08-15,Show
10,94722,76.0,Female,Medicare,True,True,False,21.246094,Suburban,2023-02-09,2024-04-06,Show
11,18645,18.0,Male,Private,False,False,True,35.827139,Urban,2023-02-14,2024-09-14,Show
13,21727,6.0,Male,Private,True,False,True,43.314191,Suburban,2023-12-06,2024-09-12,No-Show
20,46269,100.0,Male,Medicaid,False,True,True,30.057164,Urban,2023-11-03,2024-05-05,Show
...,...,...,...,...,...,...,...,...,...,...,...,...
49989,51041,50.0,Male,Medicare,True,True,False,2.219225,Urban,2022-12-23,2024-08-27,No-Show
49990,75773,75.0,Female,Medicare,False,True,False,11.718303,Urban,2023-09-01,2023-11-24,Show
49991,11154,8.0,Female,Medicare,True,False,False,16.827135,Suburban,2023-03-21,2024-10-16,No-Show
49993,91361,57.0,Female,Private,True,False,True,28.410940,Suburban,2024-01-26,2024-03-01,Show
49998,41988,53.0,Male,Medicaid,False,False,False,21.190068,Suburban,2023-05-02,2023-12-19,No-Show

In [ ]:
#Train Decision tree Model